<style>
@body {
    font-family: 'Roboto', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
* {
    box-sizing: border-box;
    border: 1px solid rgb(44, 40, 40);
  }
  html {
    scroll-behavior: smooth; 
  }
  main {
      display: block;
  }
</style>
